* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#icon{
    width: 20px;
    height: 20px;
}

#vector{
    width: 110px;
    height: 20px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.logo{
    position: absolute;
    margin-top: 35px;
    margin-right: 83%;
    display: block;
}

#globe{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -2px;
}

#blue-txt{
    color: #129AFE; 
}

.menu{
    margin-top: 28px;
    margin-right: 80px;
}

.buttons{
    color: var(--website-button-white, black);
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 3px;
    
}

.buttons:active {
    color: #129AFE; 
    border: 1px solid #129AFE; 
    border-radius: 30px;
    padding: 7px 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #129AFE;
    list-style: none; 
    top: 70px;
    right: 20px;
    z-index: 2;
}

.menu-dropdown .buttons {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-button{
    display: none;
}

.maintxt{
    position: relative;
    margin-top: 8%;
    text-align: center;
}

#licon{
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: -5px;
}

#text1{
    font-size: 50px;
}

.bigbutton{
    color: white; 
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: #129AFE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.bigbutton:active{
    background: white;
    color: #129AFE; 
}

#input1{
    border: none; 
    border-radius: 30px;
    background-color: white;
    padding: 8px;
    font-size: 14px;
    width: 300px;
    outline: none;
}

.searchinput {
    display: inline-block; 
    background-color: white;
    border: 1px solid #129AFE;
    border-radius: 30px;
    margin-right: 5px; 
    margin-left: 5px;
}



.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end; 
}

.block {
    width: 395px;
    height: 240px;
    border-radius: 8px;
    background: #f7f7f7;
    margin: 10px;
}

.textelements{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 30px;
}

#firsttxtx{
    font-size: 30px;
}

#secondtxt{
    font-size: 18px;
}

#butttontxt{
    font-size: 18px;
    color: #129AFE;
    cursor: pointer;
}

#butttontxt:active{
    color: #09548a;
}

.buttons2{
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: none;
    border: none;
    margin-right: 15px;
    margin-top: 3px;
    
}

#icon_arrow{
    width: 18px;
    height: 18px;
    margin-left: -8px;
    margin-bottom: -3px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#emoji{
    width: 65px;
    height: 65px;
}

#text2{
    font-size: 30px;
}

.container3 {
    font-size: 21px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 0 auto;
    max-width: 800px;
}

#queattext{
    font-size: 15px;
    margin-right: 20px;
    text-align: left;
}

.question1{
    flex-direction: column; 
    display: flex;
    align-items: flex-start; 
    text-align: center; 
    margin: 0 auto;
    max-width: 800px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #bce3ff;
}

.question {
    margin-bottom: 20px;
    cursor: pointer;
}

.question:active {
    color: #129AFE;
}

.container5{
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#illustration{
    width: 350px;
    height: 300px;
    margin-top: -500px;
    margin-bottom: -100px;
    z-index: 2;
}

.bluecircle{
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.half-circle{
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 13, 64, 1);
    border-radius: 70% 70% 0 0; 
    position: relative;
    pointer-events: none;
}

.container4,
.container6{
    width: 100%;
    height: 20%;
    flex: 1;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

#art1{
    width: 250px;
    height: 200px;
    margin-top: -500px;
    margin-right: 30%;
}

#art2{
    width: 130px;
    height: 100px;
    margin-top: -700px;
    margin-left: 40%;
}

.container7{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    z-index: 2;
}

#text7{
    color: #f7f7f7;
    font-size: 35px;
    margin-top: -150px;
    padding-bottom: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

.buttonf{
    color: white; 
    text-align: center;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
    background: #129AFE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.buttonf:active{
    background: white;
    color: #129AFE; 
}

.container8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container9,
.container13,
.container12{
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.container13{
    width: 400px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

#input2{
    border: none; 
    border-radius: 30px;
    background-color: white;
    padding: 8px;
    font-size: 14px;
    width: 200px;
    outline: none;
}

#heypr{
    color: rgb(128, 128, 128);
}

.searchinput2{
    display: inline-block; 
    background-color: white;
    border-radius: 30px;
    border: 1px solid #129AFE;
}

.container9{
    margin-left: 10%;
}

#restext{
    margin-top: 50px;
}

.english{
    margin-top: 80px;
}

#heypr{
    margin-top: 70px;
}

.container10,
.container11{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 20%;
}

#textbigger{
    font-size: 23px;
}

.container12{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 10%;
}

.arrows{
    margin-top: 40px;
}
    
@media screen and (max-width: 1190px){
    #heypr{
        color: rgb(128, 128, 128);
    }
    
    .searchinput2{
        display: inline-block; 
        background-color: white;
        border-radius: 30px;
        border: 1px solid #129AFE;
    }
    
    .container9{
        margin-left: 10%;
    }
    
    #restext{
        margin-top: 60px;
    }
    
    .container10,
    .container11{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
    
    #textbigger{
        font-size: 18px;
    }
    
    .container12{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        margin-right: 10%;
    }
}

@media screen and (max-width: 800px)  and (min-width: 100px) {
    #icon{
        margin-left: -55px;
        width: 25px;
        height: 25px;
    }

    #vector, 
    #heypr, 
    #prpo,
    .menu{
        display: none;
    }

    .menu-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 8%;
    }

    #menu{
        margin-top: 29px;
        width: 25px;
        height: 25px;
    }

    #menu:hover + .menu-dropdown {
        display: block;
    }

    #nfm{
        margin-top: 30px;
    }

    .logo{
        margin-top: 35px;
        margin-left: 8%;
    }

    #text1{
        margin-left: 4%;
        margin-right: 4%;
    }

    .container3{
        margin-left: 4%;
        margin-right: 4%;
    }

    #illustration{
        width: 300px;
        height: 250px;
    }

    #art1{
        width: 150px;
        height: 100px;
    }

    #art2{
        width: 100px;
        height: 70px;
        margin-bottom: 10%;
    }

    .bluecircle{
        height: 100vh;
    }
    
    .half-circle{
        border-radius: 45% 45% 0 0; 
    }

    .container8{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .english{
        margin-top: 10px;
    }

    .container13{
        margin-top: -20px;
        margin-left: 45px;
    }

    .container12{
        margin-top: 20px;
        margin-left: 60px;
    }

    .arrows{
        margin-top: 18px;
    }
}
