@media screen and (max-width: 475px) {
    #vector {
        display: none;
    }

    .menu {
        display: none;
    }

    #nfm {
        display: block;
        font-size: 10px;
    }

    .menu-button {
        display: block;
    }
}
