* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#icon{
    width: 20px;
    height: 20px;
}

#vector{
    width: 110px;
    height: 20px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.logo{
    position: absolute;
    margin-top: 35px;
    margin-right: 1400px;
}

#globe{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -2px;
}

#blue-txt{
    color: #129AFE; 
}

.menu{
    margin-top: 28px;
    margin-right: 80px;
}

.buttons {
    color: var(--website-button-white, black);
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 3px;
}

.buttons:active {
    color: #129AFE; 
    border: 1px solid #129AFE; 
    border-radius: 30px;
    padding: 7px 0;
}

.maintxt{
    position: relative;
    margin-top: 90px;
    text-align: center;
}

#licon{
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: -5px;
}

#text1{
    font-size: 50px;
}

.bigbutton{
    color: white; 
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: #129AFE;
    border: none;
    border-radius: 30px;
}

#input1{
    border: none; 
    background-color: white;
    padding: 8px;
    font-size: 14px;
    width: 300px;
    outline: none;
}

.searchinput {
    display: inline-block; 
    background-color: white;
    border: 1px solid #129AFE;
    border-radius: 30px;
    margin-right: 5px; 
    margin-left: 5px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end; 
}

.block {
    width: 395px;
    height: 240px;
    border-radius: 8px;
    background: #f0f0f0;
    margin: 10px;
}

.textelements{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 30px;
}

#firsttxtx{
    font-size: 30px;
}

#secondtxt{
    font-size: 18px;
}

#butttontxt{
    font-size: 18px;
    color: #129AFE;
}

#icon_arrow{
    width: 18px;
    height: 18px;
    margin-left: -8px;
    margin-bottom: -3px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#emoji{
    width: 65px;
    height: 65px;
}

#text2{
    font-size: 28px;
}

#queattext{
    font-size: 13px;
}

.container3 {
    font-size: 21px;
    display: flex;
    flex-direction: column; /* Встановлюємо колонкову орієнтацію */
    align-items: center; /* Вирівнюємо елементи по горизонталі по центру */
    justify-content: center; /* Вирівнюємо елементи по вертикалі по центру */
    text-align: center; /* Вирівнюємо текст в центрі внутрішніх елементів */
    height: 100vh; /* Заповнюємо всю висоту екрана */
}