* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#icon{
    width: 20px;
    height: 20px;
}

#vector{
    width: 110px;
    height: 20px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.logo{
    position: absolute;
    margin-top: 35px;
    margin-right: 1400px;
}

#globe{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -2px;
}

#blue-txt{
    color: #129AFE; 
}

.menu{
    margin-top: 28px;
    margin-right: 80px;
}

.buttons {
    color: var(--website-button-white, black);
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 3px;
}

.buttons:active {
    color: #129AFE; 
    border: 1px solid #129AFE; 
    border-radius: 30px;
    padding: 7px 0;
}

.maintxt{
    position: relative;
    margin-top: 90px;
    text-align: center;
}

#licon{
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: -5px;
}

#text1{
    font-size: 50px;
}

.bigbutton{
    color: white; 
    text-align: center;
    width: 100px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    background: #129AFE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.bigbutton:active{
    background: white;
    color: #129AFE; 
}

#input1{
    border: none; 
    border-radius: 30px;
    background-color: white;
    padding: 8px;
    font-size: 14px;
    width: 300px;
    outline: none;
}

.searchinput {
    display: inline-block; 
    background-color: white;
    border: 1px solid #129AFE;
    border-radius: 30px;
    margin-right: 5px; 
    margin-left: 5px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end; 
}

.block {
    width: 395px;
    height: 240px;
    border-radius: 8px;
    background: #f7f7f7;
    margin: 10px;
}

.textelements{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 30px;
}

#firsttxtx{
    font-size: 30px;
}

#secondtxt{
    font-size: 18px;
}

#butttontxt{
    font-size: 18px;
    color: #129AFE;
}

#icon_arrow{
    width: 18px;
    height: 18px;
    margin-left: -8px;
    margin-bottom: -3px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#emoji{
    width: 65px;
    height: 65px;
}

#text2{
    font-size: 30px;
}

.container3 {
    font-size: 21px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: center; 
    margin: 0 auto;
    max-width: 800px;
}

#queattext{
    font-size: 15px;
    margin-right: 20px;
    text-align: left;
}

.question1{
    flex-direction: column; 
    display: flex;
    align-items: flex-start; 
    text-align: center; 
    margin: 0 auto;
    max-width: 800px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #bce3ff;
}

.question {
    margin-bottom: 20px;
}

.container5{
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#illustration{
    width: 20%;
    height: 20%;
    margin-top: -700px;
    margin-bottom: -200px;
    z-index: 2;
}

.bluecircle{
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.half-circle{
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 13, 64, 1);
    border-radius: 70% 70% 0 0; 
    position: relative;
    pointer-events: none;
}

.container4,
.container6{
    width: 100%;
    height: 20%;
    flex: 1;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

#art1{
    width: 20%;
    height: 90%;
    margin-top: -600px;
    margin-right: 30%;
}

#art2{
    width: 10%;
    height: 60%;
    margin-top: -700px;
    margin-left: 30%;
}

.container7{
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 2;
}

#text7{
    color: #f7f7f7;
    font-size: 35px;
    margin-top: -200px;
    padding-bottom: 20px;
}

.buttonf{
    color: white; 
    text-align: center;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
    background: #129AFE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.buttonf:active{
    background: white;
    color: #129AFE; 
}

.container8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Розміщує всі container у рядок і розподіляє простір між ними */
}

.container9,
.container10,
.container11,
.container12 {
    color: white;
    display: flex;
    flex-direction: column; /* Розміщує елементи в кожному container в колонку */
    align-items: flex-start; /* Вирівнює елементи по лівому краю */
}

#heypr{
    color: rgb(128, 128, 128);
}

.searchinput2{
    display: inline-block; 
    background-color: white;
    border-radius: 30px;
    border: 1px solid #129AFE;
}

.container9{
    margin-left: 10%;
}

#restext{
    margin-top: 50px;
}

.container10,
.container11{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

#textbigger{
    font-size: 23px;
}

.container12{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 10%;
}